.bd-expansion-panel-wrap{
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  margin: 0 .5em;
  transition: .2s ease-out;
}
.bd-expansion-panel-wrap .header, .bd-expansion-panel-wrap .content, .bd-expansion-panel-wrap .action-pane{
  padding: 1em;
}
.bd-expansion-panel-wrap .header{
  cursor: pointer;
}
.bd-expansion-panel-wrap.active, .bd-expansion-panel-wrap.loading{
  margin: 1.5em 0;
}
